<extend file='../master'/>
<block name="content">
    <link rel="stylesheet" href="{{__TEMPLATE__}}/css/style.css">
    <form action="" id="form" ng-controller="ctrl" method="post" class="form-horizontal" role="form">
        <div class="container-fluid">
            <div class="row">
                <!--左侧-->
                <div class="col-xs-4 view">
                    <!--大的显示行-->
                    <div class="big" ng-repeat="(k,v) in data.articles" ng-if="$first" ng-click="changeAct(k)">
                        <img ng-src="@{{v.thumb}}">
                        <div class="text" ng-bind="v.title"></div>
                    </div>
                    <!--小的显示行-->
                    <div class="small ng-cloak" ng-repeat="(k,v) in data.articles" ng-if="!$first"
                         ng-click="changeAct(k)"
                         ng-cloak="">
                        <div class="text" ng-bind="v.title"></div>
                        <div class="img">
                            <img ng-src="@{{v.thumb}}">
                        </div>
                    </div>
                    <br>
                    <!--添加-->
                    <button ng-click="add()" type="button" class="btn btn-info btn_diy">再添加一行信息</button>
                </div>
                <!--右侧-->
                <div class="col-xs-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="active.title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="3" ng-model="active.digest"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">图片</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly="" ng-model="active.PicUrl">
                                        <div class="input-group-btn">
                                            <button ng-click="upImage()" class="btn btn-default" type="button">选择图片
                                            </button>
                                        </div>
                                    </div>
                                    <div class="input-group" style="margin-top:5px;">
                                        <img ng-src="@{{active.thumb}}" class="img-responsive img-thumbnail"
                                             width="150">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                <textarea ng-model="active.content" id="container"
                                          style="height:300px;width:100%;"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">链接</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="active.Url" class="form-control" id="" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <input type="hidden" name="data">
    <br>
    <script>
        require(['angular', 'util'], function (angular, util) {
            angular.module('md', []).controller('ctrl', ['$scope', function ($scope) {
                //默认模板信息
                $scope.data =
                {
                    "articles": [{
                        "title": '标题',
                        'thumb': 'dog.jpg',
                        "thumb_media_id": '图片id',
                        "author": '作者',
                        "digest": 'digest',
                        "content": '内容',
                        "content_source_url": '内容链接'
                    },
                        //若新增的是多图文素材，则此处应还有几段articles结构
                    ]
                }

                //新添加信息方法
                $scope.add = function () {
                    if ($scope.data.length >= 5) {
                        return false;
                    }
                    var newData =
                    {
                        "articles": [{
                            "title": '',
                            'thumb': '',
                            "thumb_media_id": '',
                            "author": '',
                            "digest": '',
                            "content": '',
                            "content_source_url": 'http://'
                        },
                            //若新增的是多图文素材，则此处应还有几段articles结构
                        ]
                    }
                    $scope.data.articles.push(newData);
                }

                //点击编辑当前内容
                $scope.active = $scope.data.articles[0];//默认显示第一个
                $scope.changeAct = function (k) {
                    $scope.active = $scope.data.articles[k];
                }

                //上传图片  (使用post电泳后台控制器方法,获得thumb_media_id
                $scope.upImage = function () {
                    util.image(function (images) {
                        //将图片推送到服务器获得media_id
                        $.post('{{site_url("site/PushImg")}}', {file: images[0]}, function (json) {
                            if (json.valid == 1) {//成功
                                $scope.active.thumb_media_id = json.data.media_id;
                                $scope.active.thumb = images[0];
                                $scope.$apply();
                            } else {
                                message('上传失败,稍后再试', '', 'warning');
                            }
                        }, 'json');
                    }, [])
                }

                //百度图文编辑器
                util.ueditor('container', {}, function (editor) {
                    editor.addListener('contentChange', function () {
                        $scope.active.content = editor.getContent();
                    });
                    editor.addListener('ready', function () {
                        if (editor && editor.getContent() != $scope.active.content) {
                            editor.setContent($scope.active.content);
                        }
                        $scope.$watch('active', function (item) {
                            if (editor && editor.getContent() != item.content) {
                                editor.setContent(item.content ? item.content : '');
                            }
                        }, true);
                    });
                    editor.addListener('clearRange', function () {
                        $scope.active.content = editor.getContent();
                        $scope.$apply();
                    });
                });

                //提交表单 将data数组数据转为Json进行POST提交
                $("form").submit(function () {
                    $("[name='data']").val(angular.toJson($scope.data));
                })
            }]);
            angular.bootstrap(document.getElementById('form'), ['md']);
        })
    </script>
</block>